.DS_Store
applet
src/*/application.linux-arm64
src/*/application.linux-armv6hf
src/*/application.linux32
src/*/application.linux64
src/*/application.windows32
src/*/application.windows64
src/*/application.macosx
